/* set box-sizing to border box */
* {
    box-sizing: border-box;
}

/* semantic tags set to block */
header, main, nav, footer, section, article, figure, figcaption, aside {
    display: block;
}

/* body set to the equivalent of 16px, background dark grey */
body {
    font-size: 1.5vw;
    background-color: #131313;
    font-family: Abel, Arial, sans-serif;
    color: white;
}

/* header styling with custom font */
header {
    font-family: Arizonia, cursive;
    font-size: 2.5vw;
    background-color: #131313;
    margin: 0;
}

h1 {
    padding-left: 2vw;
    margin: 0;
}

nav ul {
    font-family: Abel, Arial, sans-serif;
    font-size: 2vw;
    list-style-type: none;
    position: absolute;
    top: 0;
    right: 1.5vw;
}

nav a {
    color: white;
    text-decoration: none;
}

nav li {
    float: left;
}

main {
    clear: left;
}

#photo img {
    width: 100%;
    height: 100%;
}

#intro {
    font-family: 'Bona Nova', Georgia, serif;
    font-size: 4.5vw;
    padding: 1vw;
    background-color: rgba(19, 19, 19, .55);
    float: left;
    position: absolute;
    top: 11vw;
    left: 5vw;
}

#profile {
    text-align: center;
}

h2 {
    text-decoration: underline;
    text-align: center;
    font-size: 3.5vw;
}

#invert {
    color: #131313;
}

.left {
    float: left;
    padding-left: 5vw;
    max-width: 35%;
}

.right {
    float: right;
    padding-right: 5vw;
    max-width: 35%;
}

#profile div {
    text-align: center;
    line-height: 3vw;
    margin-bottom: 3%;
}

#profile img {
    height: 20%;
    width: 20%;
}

#exp {
    clear: both;
    background-color: #eeeeee;
    height: 100.0rem;
}

#lexp {
    background-color: #131313;
    color: white;
    margin-left: 4%;
    padding: 0% 3%;
    width: 40%;
    height: 80.0rem;
}

#rexp {
    background-color: #131313;
    color: white;
    margin-right: 4%;
    padding: 0% 3%;
    width: 40%;
    height: 80.0rem;
}

#skills {
    clear: both;
}

#lskill {
    float: left;
    margin-left: 20%;
}

#rskill {
    float: right;
    margin-right: 20%;
}

#projects {
    clear: both;
    background-color: #eeeeee;
}

#contactList {
    margin-left: 20%;
}

#contactList ul {
    list-style-type: none;
}

#contactList li {
    padding-bottom: 4%;
}

#linkedIn {
    height: 7%;
    width: 7%;
    padding-right: 1%;
}

#github {
    height: 7%;
    width: 7%;
    padding-right: 1%;
}

.contactLinks {
    color: white;
    text-decoration: none;
    vertical-align: top;
    font-size: 3vw;
}

#copyright {
    text-align: center;
    font-size: 1.8vw;
    padding: 1vw;
}